@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.App {
  position:relative;
  background-color: white; 
  overflow-x: hidden;
  text-align: center;
  height: 100vh;
  width: 100vw; 

}

.logo_img{
  position: absolute;
  top:-5.5rem;
  left:-2rem;
  transform: scale(.2)
}

/*-----------------------------------------------*/

.App-header {
  font-size: .7rem;
  background-color: white;
  height: 1.5rem;
  width:100%;
  padding: 20px;
  color:#1289A7; 
}
 .App-header::after{
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9), 0 0 25px 0 rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 0 25px 0 rgba(0, 0, 0, 0.15); 
   content: '';
   display: block;
   height: 4rem;
   position: absolute;
   top: 0;
   left:0;
   width: 100%;
} 
h1{
  margin-left:180px;
  text-align: left;
  font-weight: 300;
  margin-top: 0;
}
.photo_header{
  background-image: url(./img/fond.jpg);
  background-repeat: no-repeat;  
  background-size: cover;
  width:100%;
  height: 5rem;
}
.change_coin {
  font-family: Raleway;
  width:100%;
  color:#95afc0;
  
}

body{ 
  display:flex; 
  flex-direction:column; 

}
/* .App-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:60px;
  background-color:white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 0 25px 0 rgba(0, 0, 0, 0.15); 
  height: 60px;

} */
input[type=number]{
  
    height: 40px;
    background: white;
    width: 140px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border:none;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3); 
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 16px;
    color:#1289A7;
}

/*-------------------------selectSearch-------------------*/



.select-search-box {
  width: 140px;
  position: relative;
  height: 40px;
  min-width: 140px;
  background-color:#1289A7;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;

}

.select-search-box[name = change]{

}

.select-search-box--input {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
  }
/*firstline arrow*/
.select-search-box::before {
    font-family: FontAwesome;
    content:"\f078";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    z-index: 1;
    font-size: 10px;
  }
  /*header arrow*/
  .header .select-search-box::after {
    font-family: fontawesome;
    content:"\f078";
    position: absolute;
    font-size: 10px;
    top: 0;
    margin-left: 1rem;
    width: 40px;
    text-align: center;
    line-height: 50px;
    font-weight: lighter;
    color: #1289A7;
    z-index: 1;

  }
  /*loop  ????*/
  .firstLine .select-search-box__search::before {
    font-family: fontawesome;
    content:"\f002";
    position: absolute;
    top: 0;
    left: 6px;
    width: 20px;
    text-align: center;
    line-height: 50px;
    color: red;
    z-index: 10;
  }
  .header > .select-search-box{
  width: 120px;
  position: relative;
  margin:auto;
  background: transparent; 
  border-radius: 6px;
  padding-left: 0;
  margin-right:10rem;
  }

  .select-search-box--input::after {
    display: none !important;
  }

  .select-search-box__out {
    display: none;
  }

 .select-search-box__select--display {
    display: block;
   
    }

  /*header usd*/
.header .select-search-box__search {
    
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    padding: 0 20px;
    color: #1289A7;
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: lighter;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-family: sans-serif;
    line-height: 50px;
    margin: 0;
  }

  /*recherche coin input principaux*/
.firstLine .select-search-box__search {
    
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    padding: 0px 15px;
    color: white;
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-family: sans-serif;
    line-height: 40px;
  }
  .select-search-box--input .select-search-box__search {
    cursor: text;
  }

    .select-search-box__search:focus {
      cursor: text;
    }
      
    .select-search-box__search--placeholder {
      font-style: italic;
      font-weight: normal;
    }

  .select-search-box input::-webkit-input-placeholder {
    color: #fff;
    font-style: italic;
    font-weight: normal;
  }

  .select-search-box input::-moz-placeholder {
    color: #fff;
    font-style: italic;
    font-weight: normal;
  }

  .select-search-box input:-moz-placeholder {
    color: #fff;
    font-style: italic;
    font-weight: normal;
  }

  .select-search-box input:-ms-input-placeholder {
    color: #fff;
    font-style: italic;
    font-weight: normal;
  }

  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }
/*background select search------------------------------*/
  .select-search-box__select {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    background: white;
    border-radius: 0 0 8px 8px;
    overflow: auto;
    box-shadow: 0 9px 25px rgba(0,0,0,.15);
    z-index: 100;
    min-height: 49px;

  }
  /*-----------------------webkit-scrollbar-----------------------*/
.select-search-box__select::-webkit-scrollbar {
  background-color:white;
  width:10px;
  height: 15px;
}
.select-search-box__select::-webkit-scrollbar-thumb {
  background-color:grey;
  border:2px solid white;
  border-radius:10px;
}
.App::-webkit-scrollbar {
  background-color:white;
  width:10px;
  height: 15px;
}
.App::-webkit-scrollbar-thumb {
  color:red;
  background-color:grey;
  height: 60px;
  border:2px solid white;
  border-radius:10px;
}
/*---------------------------------------------------------------------*/

  .select-search-box--multiple .select-search-box__select {
    display: block;
    position: static;
    box-shadow: none;
    border: none;
  }

    .select-search-box__select--display {
      display: block;
    }
/* -------------list option ---------------*/

  .select-search-box__option {
    font-size: 16px;
    font-weight: 400;
    color: #616b74;
    padding: 10px 20px;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
ul.select-search-box__options { 
  padding: 0;
  margin:0;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  }
.select-search-box__option--hover, .select-search-box__option:hover {
  background: #eaeae5;
}

.select-search-box__option--selected {
  background: #95afc0;
  color: #f7f7f1;
}

.select-search-box__option--selected:hover, .select-search-box__option--selected.select-search-box__option--hover {
  background: #4A5259;
  color: #f7f7f1;
}
/*------------------------------------*/


.price{
  margin:0;
}

.digits{
   display:none;
   margin-top: 100px;
   height: 2.7rem;
}
.firstLine{

  display: flex;   
  background-color: white ;   
  justify-content: center;
  align-content: center; 
  height: 3.3rem;
  margin-top: 0rem;
  padding-top: 1rem; 
  box-shadow: 0 3px 15px 0 rgba( 149, 175, 192, 0.25), 0 3px 10px 0 rgba(149, 175, 192, 0.05); 
}
.find div:nth-child(2) .addition  {
  color:transparent!important;
}
.plus{
  cursor: pointer;
  margin-left: 10px;
  height: 1rem;
}
.aff{
  display: flex; 
  width:15rem;
  font-size: 1.1rem;
  font-weight: 300;
  height: 40px; 
  background:transparent;
  margin-left: 14px; 
  color:#1289A7;
  outline: none;
  box-sizing: border-box;
  line-height:40px; 
}
.rez{
  display: flex;   
  justify-content: center;
  align-items: center; 
}
.price_aff{
  
  font-weight: 300;
  color:#1289A7; 
  line-height: 40px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  /* border: #1289A7 solid 0.5px;  */
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3); 
  font-size: 1.3rem;
  height: 40px;
  margin-right: 13.2rem;
  margin-bottom: 4rem;
  width: 17.5rem;
}
.price_aff:after{
  content: "=";
  position: absolute;
  color:#1289A7;
  font-size: 3rem;
  margin-left: -10.7rem;
  margin-top: -2.8rem;
}

/*  ligne buttons */
.sum{
  display: flex;
  flex-direction: row;     
  justify-content: center; 
  background-color: white;
  padding: 0;
  height: 2rem;
  margin-bottom: 1rem;
}
button#btn_mo,button#btn_pl{
  margin-right: 4px;
  margin-left: 36px;
  background-color: #1289A7;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
  border: none;
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 3px 15px 0 rgba( 149, 175, 192, 0.25), 0 3px 10px 0 rgba(149, 175, 192, 0.05);
}

  /*add*/
  .newCrypto{
  position: absolute;
  font-size: 16px;
  margin-left: 3.9rem;
  margin-top: .5rem;
  color:#1289A7;
  }
  /*firstline plus*/
  .addition{
   color:#1289A7;
   font-size: 3rem;
   height: 40px;
   line-height: 40px;
   margin-right:10px; 
   margin-left:10px;
  }
 
 /* -----------------------------------------------*/

.aside{
  /* background-image: url(./img/square.png);
  background-repeat: repeat; */
  position: absolute;
  box-sizing: border-box;
  padding: 24px;
  line-height: 20px;
  width: 180px;
  height: 100%;
  background-color: #1289A7;
  left: 0;
  top:144px;
  padding-top: 20px;
  font-size: .9rem;
  color: white;
  /*  box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.9), 0 0 25px 0 rgba(0, 0, 0, 0.5);
   box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 25px 0 rgba(0, 0, 0, 0.15);   */
}

.aside_a{
  color:white;
}
.logo{
  width: 180px;
  height: 64px;
  background-color: #1289A7;
  position: absolute;
  top:0;
  left:0;
  box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.9), 0 0 25px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 25px 0 rgba(0, 0, 0, 0.15);  

}
/*---------------donate adress----------------*/
.separateur{
  margin-top: .5rem;
}
.adress{
  font-size: .6rem;
}
#to-copy_BTC,#to-copy_ETH,#to-copy_LTC{
  position: absolute;
}
#copy_BTC,#copy_ETH,#copy_LTC{
  background-color:white;
  margin-bottom: 1rem;
  height:1.4rem;
  color:#1289A7;
  cursor: pointer;
}
#reset,#stockage,#lecture{
  height:1.4rem;
  margin-bottom: 1rem;
  line-height :1.4rem;
  cursor: pointer;
  width:118px;
   color:#1289A7;
}






/* -------------media query--------------------*/

/*  before  920  */
@media (max-width: 920px) {
 .aside{
   display:none;
  }
  .logo{
    display:none;
  }
  h1{
    margin-left:60px;
  }
  .header > .select-search-box{
    margin-right:4rem;
  }
  .firstLine{
    flex-wrap: wrap; 
    height: 4rem;
  }
  .aff{
    justify-content: center;
    align-items: center; 
    font-size: 1.2rem;
    flex-basis: 100%;
  }
  button#btn_pl,button#btn_mo{
    margin-right: 4px;
    margin-left: 288px;
    margin-top: 6px;  
  }
  .price_aff{
   margin-right: -2rem;  
  }
  .price_aff:after{
  margin-left: -10.4rem;
}
 }

 /*  a partir de 920  */
 @media (min-width: 920px) {
 
 .header > .select-search-box{
  padding-left: 0;
  margin-right:15%;
  }

}
/*  a partir de 1200  */
@media (min-width: 1200px) {
 
 .header > .select-search-box{
  margin-right:30%;
  }
}